<div class="center">
    <h1 class="center">About</h1>
    <div >
        <img class="about_img" src="/img/about.jpg" alt="">
        <img class="about_img" src="/img/person.jpeg" alt="">
    </div>
    <p class="about_p">
        Welcome to BlogInByte, the digital haven curated by the tech enthusiast and visionary, Shib Sankar Das. Dive into a world where technology meets art, and industry growth intertwines with the rich tapestry of arts and cultures. Shib Sankar Das takes you on a captivating journey through the realms of cutting-edge technology, offering insightful perspectives on its evolution and impact. Uncover the secrets of industry growth, explore the nuances of art and culture, and engage with thought-provoking content that transcends boundaries. BlogInByte is not just a blog; it's a byte-sized revelation of a tech-savvy mind delving into the heart of innovation. Join us as we decode the digital universe and unravel the threads that connect technology with the very essence of our existence.
    </p>
</div>

