<h1 class="center">Contact</h1>
<section class="contact" id="contact">
    <form action="#">

        <div class="input-box">
            <input type="text" placeholder="Full Name">
            <input type="email" placeholder="Email">
        </div>

        <div class="input-box">
            <input type="number" placeholder="Phone Number">
            <input type="text" placeholder="Subjects">
        </div>

        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
        <input type="submit" value="Send Message" class="btn">

    </form>
</section>